{% load staticfiles %}{% load humanize %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pin System">
    <meta name="author" content="zhangi">
    {% if COUNTRY == 'TH' %}
        <link rel="icon" type="image/jpeg" href="{% static 'integration/favicon.ico' %}">
    {% else %}
        <link rel="icon" type="image/jpeg" href="{% static 'integration/favicon.png' %}">
    {% endif %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    {% block css %}{% endblock %}

    <title>{% block title %}Integration{% endblock %}</title>
</head>

<body style='padding-top:70px'>
{% if messages %}
    {% for message in messages %}
        <div
                {% if message.tags == 'error' %} class="alert alert-danger" role="alert"{% endif %}
        >
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% block body %}
    <div class='container-fluid'>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
{#                    <a class="navbar-brand"><img alt="TopPay" src="{% static 'integration/favicon.png' %}"></a>#}
                    <a class="navbar-brand">Food Order</a>
                    <a class="navbar-brand">Attendance</a>
                </div>
        </nav>

        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block javascript %}{% endblock %}
{% block script %} {% endblock %}
</body>
</html>
